<div class="todos-wrapper">
  <div class="container">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">To jest tekst todo!</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam aut blanditiis
        culpa eligendi exercitationem explicabo in iusto libero maxime omnis possimus quis quisquam reprehenderit,
        temporibus unde vero vitae voluptatem.</p>
    </div>

  </div>
</div>
