.app-wrapper {
  background-image: url('https://community.akamai.steamstatic.com/public/images/profile/2020/bg_dots.png');
  background-repeat: no-repeat; // zapobiega temu by obrazek dodawał się drugi raz obok/pod głównym orbazem
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  //background-color: gray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-section {
  //background-color: aquamarine;
  padding: 40px 0;
  text-align: center;

  h1 {
    color: white;
    font-size: 120px;
    font-weight: bold;
    text-shadow: 0 1px 4px rgba(black, 0.1);
  }

  h2 {
    color: white;
    font-size: 28px;
    text-shadow: 0 1px 4px rgba(black, 0.1);
  }
}

.content-section {
  //background-color: cadetblue;
  flex-grow: 1;
}

.bottom-section {
  //background-color: coral;
  display: flex;

  app-tabs {
    margin: auto;
  }
}
