<div class="notes-wrapper">

  <div class="container">

    <div class="notes-list">
      <div class="note-card">
        <div class="note-card-title">Tytył notatki lorem!</div>
        <div class="note-card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum
          dignissimos ducimus excepturi exercitationem maxime nostrum quam quis, vitae! At beatae eaque error nobis
          suscipit! Ab doloribus ducimus quidem rem?
        </div>
      </div>
      <div class="note-card">
        <div class="note-card-title">Tytył notatki lorem!</div>
        <div class="note-card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum
          dignissimos ducimus excepturi exercitationem maxime nostrum quam quis, vitae! At beatae eaque error nobis
          suscipit! Ab doloribus ducimus quidem rem?
        </div>
      </div>

    </div>

  </div>

</div>
