iframe {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
}

.bookmarks-wrapper {
  height: 100%;
  overflow-y: auto;
  //background-color: wheat;
}

.bookmark-tile-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;
}

