<div class="bookmarks-wrapper">

  <div class="container">

    <div class="bookmark-tile-container">

      <div class="bookmark-tile">
        <img src="https://google.com/favicon.ico">
      </div>

      <div class="bookmark-tile">
        <img src="https://wikipedia.org/favicon.ico">
      </div>

      <div class="bookmark-tile">
        <img src="https://youtube.com/favicon.ico">
      </div>

      <div class="bookmark-tile">
        <img src="https://twitch.tv/favicon.ico">
      </div>

    </div>
  </div>
</div>


<!--<ifra/me src="https://player.twitch.tv/?channel=bajdik&parent=localhost&muted=true"-->
<!--        parent="localhost" frameborder="0" allowfullscreen="true"-->
<!--        scrolling="no" height="378" width="620"></iframe>-->
