iframe {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
}

.bookmarks-wrapper {
  height: 100%;
  //background-color: wheat;
}

.bookmark-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(black, 0.3);
  border-radius: 10px;

  width: 100px;
  height: 100px;
}

.bookmark-tile img {
  max-width: 32px;
  min-width: 32px; // to nie jest konieczne
}

.bookmark-tile-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
