<div class="bookmarks-wrapper">

  <div class="container">

    <div class="bookmark-tile-container">

      <!--      <div class="bookmark-tile">-->
      <!--        <img src="https://google.com/favicon.ico" alt="">-->
      <!--        <p class="tile-text">Google</p>-->
      <!--      </div>-->
      <!--      <div class="bookmark-tile">-->
      <!--        <img src="https://wikipedia.org/favicon.ico" alt="">-->
      <!--        <p class="tile-text">Wikipedia</p>-->
      <!--      </div>-->
      <!--      <div class="bookmark-tile">-->
      <!--        <img src="https://instagram.com/favicon.ico" alt="">-->
      <!--        <p class="tile-text">Instagram</p>-->
      <!--      </div>-->
      <!--      <div class="bookmark-tile">-->
      <!--        <img src="https://twitch.tv/favicon.ico" alt="">-->
      <!--        <p class="tile-text">Twitch</p>-->
      <!--      </div>-->

      <!--      <iframe src="https://player.twitch.tv/?channel=bajdik&parent=localhost&muted=true"-->
      <!--              parent="localhost" frameborder="0" allowfullscreen="true"-->
      <!--              scrolling="no" height="480" width="1280"></iframe>-->
      <!--      <div class="dc">-->

      <!--        <iframe src="https://discord.com/widget?id=1077183149907390504&theme=dark"-->
      <!--                width="280" height="400"-->
      <!--                allowtransparency="true" frameborder="0"-->
      <!--                class="widgetLogo&#45;&#45;cR2RT widgetText widgetHeaderCount-tnIy70"-->
      <!--                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->

      <!--        <iframe src="https://discord.com/widget?id=832193281525415946&theme=dark"-->
      <!--                width="280" height="400"-->
      <!--                allowtransparency="true" frameborder="0"-->
      <!--                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->

      <!--        <iframe src="https://discord.com/widget?id=788140456969633854&theme=dark"-->
      <!--                width="280" height="400"-->
      <!--                allowtransparency="true" frameborder="0"-->
      <!--                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->
      <!--      </div>-->

      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>


    </div>
  </div>
</div>
